<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CustomerFormConnectionString"
		 connectionString="
			Server=RDELROSARIO-22\SQLEXPRESS02; 
			Database=CustomerDB; 
			Trusted_Connection=True;"
		 providerName= "System.Data.SqlClient"/>
	</connectionStrings>
</configuration>