################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomerForm/FileContentIndex/c8b8c85f-5bb3-4fa0-a4d0-94ca77a3e1df.vsidx
