################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomerForm/FileContentIndex/c8b8c85f-5bb3-4fa0-a4d0-94ca77a3e1df.vsidx
/.vs/CustomerForm/FileContentIndex/1a1b39ef-ac5d-4aa3-abd4-9a7a50dcfc2a.vsidx
/.vs/CustomerForm/FileContentIndex/c59d77dc-8b14-49d4-86d1-d3564408263b.vsidx
/.vs/CustomerForm/FileContentIndex/10aa25ec-f877-41db-8809-35a97b1c3122.vsidx
/ConsoleApp1/.vs
